/* main */
main {
  margin-bottom: 30px;
}
/**********hero**************/
.about-hero {
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(156, 61, 125, 0.3),
      rgba(255, 255, 255, 0.1)
    ),
    url("../assets/images/about-banner.png");
  height: 100vh;
  background-size: cover;
  padding-top: 50vh;
}
.about-hero img {
  width: 100%;
}

.about-hero h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}
/********second-section**********/
.section-2 {
  justify-content: center;
  /*text-align: center;
  */
  padding-top: 30px;
  background-color: #f6ecf2;
  margin: 20px auto;
  padding-bottom: 50px;
  border-radius: 12px;
  width: 95%;
}
.section-2 div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.section-2 div h1 {
  margin-bottom: -10px;
}

.section-2 p {
  width: 60%;
  /* border: 2px solid; */
  margin: auto;
  line-height: 30px;
}

/*******third section******/
.section-3 {
  display: flex;
  gap: 20px;
  margin: 100px auto 0px;
  padding-top: 20px;
  width: 80%;
}

.m-icon {
  display: flex;
  align-items: center !important;
  gap: 15px;
  margin-bottom: 20px;
}

.section-3 div img {
  background-color: #9c3d7d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.vision {
  /* border: 2px solid; */
  background-color: #ffe6e6;
  width: 50%;
  border-radius: 12px;
  padding: 40px 20px;
}

.mission {
  /* border: 2px solid; */
  background-color: #ffe6e6;
  width: 50%;
  border-radius: 12px;
  text-align: left;
  padding: 40px 20px;
}

.section-3 div div h1 {
  color: #9c3d7d;
  font-size: 1.2rem;
  margin-bottom: -5px;
}
.section-3 div p {
  font-size: 15px;
  line-height: 20px;
  color: black;
}

.fa-check-circle {
  color: #e28225;
}

/******section4************/
.section-4 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 100px auto;
  gap: 20px;
  padding-top: 50px;
}

.section-4 div {
  width: 30%;
  /* border: 2px solid; */
  border-radius: 12px;
  padding: 15px;
  background-color: #f5ecf2;
}
.section-4 div span {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.section-4 div span img {
  background-color: #9c3d7d;
  padding: 8px;
  border-radius: 50%;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.section-4 div span h1 {
  font-size: 18px;
  color: #9c3d7d;
  margin-bottom: -5px;
}
.problem {
  display: flex;
  padding-bottom: 30px;
  gap: 20px;
}

p {
  line-height: 25px;
}

.exp-btn {
  width: 15%;
  margin-left: 40px;
  margin-top: -20px;
  margin-bottom: 50px;
  border-radius: 24px;
  padding: 15px;
  cursor: pointer;
  background-color: #e28225;
  border: none;
  color: white;
}

@media (max-width: 1000px) {
  .about-hero h1 {
    text-align: center;
    font-size: 30px;
    color: white;
  }
  /* section-3 */
  .section-three {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .vision {
    width: 30rem;
    text-align: center;
  }
  .mission {
    width: 30rem;
    text-align: center;
  }
  .mission span {
    justify-content: center;
  }
  .vision span {
    justify-content: center;
  }
  /* section-4 */
  .section-4 {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .section-4 div {
    width: 30rem;
    padding: 15px;
    margin-bottom: 20px;
    /* text-align: center; */
  }
  .section-4 div span {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
  }
  .section-4 div span h1 {
    font-size: 18px;
  }

  .exp-btn {
    width: 40%;
    margin-left: 30%;
    border-radius: 24px;
    padding: 15px;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  .mission,
  .vision {
    width: 100%;
    text-align: left;
  }

  .section-3 {
    flex-direction: column;
    gap: 40px;
  }
}
